nodered.txt.txt
[{"id":"ac3689b0.777b38","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"f90ed88b.99a158","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"64044dfd.f15c04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"da6b07fd.bfcbd8","type":"ui_tab","z":"","name":"Insurance Purchase Predition","icon":"dashboard","disabled":false,"hidden":false},{"id":"77bc4c53.d195d4","type":"ui_group","z":"","name":"ML model","tab":"da6b07fd.bfcbd8","disp":true,"width":"6","collapse":false},{"id":"8f9c8ab7.898758","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a611cf13.a26b8","type":"ui_group","z":"","name":"Prediction","tab":"","disp":true,"width":"6","collapse":false},{"id":"44b66971.a36fe8","type":"ui_group","z":"64044dfd.f15c04","name":"To know your Insurence per month ","tab":"e80cc269.110ce","disp":true,"width":"6","collapse":false},{"id":"e80cc269.110ce","type":"ui_tab","z":"","name":"Know Your Insurance ","icon":"dashboard","disabled":false,"hidden":false},{"id":"7db79e43.d8f49","type":"inject","z":"ac3689b0.777b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["310aebeb.1fc084"]]},{"id":"301cf395.bb546c","type":"debug","z":"ac3689b0.777b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650.0000991821289,"y":99.0000057220459,"wires":[]},{"id":"40b45556.e1e0fc","type":"function","z":"ac3689b0.777b38","name":"prediction input","func":"var token=msg.payload.token;\nvar rd=global.get(\"rd\");\nvar admin=global.get(\"admin\");\nvar mspent=global.get(\"mspent\");\nvar state0=global.get(\"state0\");\nvar state1=global.get(\"state1\");\nmsg.payload={\"fields\":[\"State0\",\"State1\",\"R&D\",\"admin\",\"MarketingSpend\"],\"values\":[[state0,state1,rd,admin,mspent]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":360.0000686645508,"y":214.0000457763672,"wires":[["fb1618ef.c3f0b8","301cf395.bb546c"]]},{"id":"fb1618ef.c3f0b8","type":"http request","z":"ac3689b0.777b38","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ad2c9da4-c785-4ac4-98c8-ebfa52f425d4/deployments/5873c7dd-ce40-4c2e-89e8-e324f5766fd2/online","tls":"","proxy":"","authType":"bearer","x":413.0000915527344,"y":298.0000705718994,"wires":[["893a4176.a703e","301cf395.bb546c"]]},{"id":"310aebeb.1fc084","type":"http request","z":"ac3689b0.777b38","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com\\v3\\identity\\token","tls":"","proxy":"","authType":"basic","x":285.0000457763672,"y":142.00000381469727,"wires":[["40b45556.e1e0fc","301cf395.bb546c"]]},{"id":"893a4176.a703e","type":"function","z":"ac3689b0.777b38","name":"Json Parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":618.0000152587891,"y":314.00000953674316,"wires":[["301cf395.bb546c","e0bea06.a95de6"]]},{"id":"82c9b401.bbfef8","type":"function","z":"ac3689b0.777b38","name":"state Selection","func":"if(msg.payload==\"New York\"){\n    global.set(\"state0\",0);\n    global.set(\"state1\",1);\n}\nelse if(msg.payload==\"California\"){\n    global.set(\"state0\",0);\n    global.set(\"state1\",0);\n}\nelse if(msg.payload==\"Florida\"){\n    global.set(\"state0\",1);\n    global.set(\"state1\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":419.1666946411133,"y":360.66668701171875,"wires":[[]]},{"id":"e6f5bfdc.46aa5","type":"function","z":"ac3689b0.777b38","name":"input","func":"global.set(\"rd\",msg.payload.rd);\nglobal.set(\"admin\",msg.payload.admin);\nglobal.set(\"mspent\",msg.payload.mspent);\nreturn msg;","outputs":1,"noerr":0,"x":150.1666717529297,"y":197.6666717529297,"wires":[["310aebeb.1fc084"]]},{"id":"e0bea06.a95de6","type":"ui_text","z":"ac3689b0.777b38","group":"77bc4c53.d195d4","order":2,"width":0,"height":0,"name":"","label":"profit","format":"{{msg.payload}}","layout":"row-spread","x":689.1666870117188,"y":413.6666793823242,"wires":[]},{"id":"29efb579.cd412a","type":"http request","z":"f90ed88b.99a158","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ad2c9da4-c785-4ac4-98c8-ebfa52f425d4/deployments/5bacabf1-1198-4916-b57f-5e387c40a2aa/online","tls":"","proxy":"","x":395,"y":95,"wires":[["f97e7e9b.c532b"]]},{"id":"9d4ec90e.ac6458","type":"function","z":"f90ed88b.99a158","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar bmi=global.get(\"bmi\");\nvar children=global.get(\"children\");\nvar sex=global.get(\"sex\");\nmsg.payload={\"fields\":[\"age\",\"bmi\",\"children\",\"charges\"],\"values\":[[age,bmi,children,charges]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":159,"wires":[["29efb579.cd412a"]]},{"id":"f97e7e9b.c532b","type":"debug","z":"f90ed88b.99a158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":795,"y":95,"wires":[]},{"id":"ac2aa790.881998","type":"http request","z":"f90ed88b.99a158","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ad2c9da4-c785-4ac4-98c8-ebfa52f425d4/deployments/5bacabf1-1198-4916-b57f-5e387c40a2aa/online","tls":"","proxy":"","x":435,"y":355,"wires":[["9b9e66db.e508e8","9d4ec90e.ac6458"]]},{"id":"ea973f7f.9d02a","type":"inject","z":"f90ed88b.99a158","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":216.0000057220459,"wires":[["668ad041.084cc"]]},{"id":"668ad041.084cc","type":"function","z":"f90ed88b.99a158","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"36014ba9-49b6-4617-b5bc-cf17a25c5bf7\"\nvar password=\"7097300e-9f2b-43dd-899b-492386ac9cfd\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"smoker\",msg.payload.smoker)\nreturn msg;","outputs":1,"noerr":0,"x":305,"y":315,"wires":[["ac2aa790.881998"]]},{"id":"90d49e3a.01998","type":"function","z":"f90ed88b.99a158","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":175,"wires":[["d7a8fd72.db306"]]},{"id":"9b9e66db.e508e8","type":"debug","z":"f90ed88b.99a158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695,"y":375,"wires":[]},{"id":"d7a8fd72.db306","type":"ui_text","z":"f90ed88b.99a158","group":"77bc4c53.d195d4","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":715,"y":215,"wires":[]},{"id":"76fb95a6.9eee7c","type":"ui_form","z":"f90ed88b.99a158","name":"","label":"","group":"77bc4c53.d195d4","order":2,"width":0,"height":0,"options":[{"label":"Enter Age:","value":"age","type":"number","required":true},{"label":"Enter BMI:","value":"bmi","type":"number","required":true},{"label":"Enter Children:","value":"children","type":"number","required":true},{"label":"Enter Gender","value":"sex","type":"number","required":true}],"formValue":{"age":"","bmi":"","children":"","sex":""},"payload":"","submit":"submit","cancel":"cancel","topic":"charges","x":58.00000762939453,"y":366.6666679382324,"wires":[["668ad041.084cc"]]},{"id":"25c02513.cff0aa","type":"http request","z":"64044dfd.f15c04","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ad2c9da4-c785-4ac4-98c8-ebfa52f425d4/deployments/d1007660-daeb-4993-bd61-bdaa6b072647/online","tls":"","proxy":"","authType":"basic","x":450,"y":200,"wires":[["1fbe9f2f.ec56f1","460ca79b.3cb2f8"]]},{"id":"adf8f4c0.baf1a8","type":"function","z":"64044dfd.f15c04","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar bmi=global.get(\"bmi\");\nvar children=global.get(\"children\");\nvar gender=global.get(\"gender\");\n//var State1=global.get(\"State1\");\nmsg.payload={\"fields\":[\"age\",\"bmi\",\"children\",\"gender\"],\"values\":[[age,bmi,children,gender]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":264,"wires":[["25c02513.cff0aa"]]},{"id":"1fbe9f2f.ec56f1","type":"debug","z":"64044dfd.f15c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":736.0000228881836,"y":207,"wires":[]},{"id":"98c0ec55.74fc4","type":"http request","z":"64044dfd.f15c04","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":490,"y":460,"wires":[["7896fb93.215aa4","adf8f4c0.baf1a8"]]},{"id":"7c9b41f8.4e46e","type":"inject","z":"64044dfd.f15c04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["f7d6fc27.22706"]]},{"id":"f7d6fc27.22706","type":"function","z":"64044dfd.f15c04","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"46df6700-f673-413d-82a1-858d8589e09f\";\nvar password=\"ed206fa2-de9f-467f-bcd2-cd73eed5654f\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"children\",msg.payload.children);\nglobal.set(\"gender\",msg.payload.gender);\n//global.set(\"State1\",msg.payload.State1);\nreturn msg;","outputs":1,"noerr":0,"x":375.00000762939453,"y":419.0000219345093,"wires":[["98c0ec55.74fc4"]]},{"id":"460ca79b.3cb2f8","type":"function","z":"64044dfd.f15c04","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["3bc07318.9eba1c"]]},{"id":"7896fb93.215aa4","type":"debug","z":"64044dfd.f15c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":480,"wires":[]},{"id":"c8bbedec.7aa17","type":"ui_text","z":"64044dfd.f15c04","group":"44b66971.a36fe8","order":2,"width":0,"height":0,"name":"","label":"AGE","format":"{{msg.payload.age}}","layout":"row-spread","x":370,"y":520,"wires":[]},{"id":"3bc07318.9eba1c","type":"ui_text","z":"64044dfd.f15c04","group":"44b66971.a36fe8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":669.0000228881836,"y":341.0000190734863,"wires":[]},{"id":"887268f6.8aad08","type":"ui_form","z":"64044dfd.f15c04","name":"","label":"","group":"44b66971.a36fe8","order":0,"width":"6","height":"3","options":[{"label":"age","value":"age","type":"number","required":true},{"label":"bmi","value":"bmi","type":"number","required":true},{"label":"children","value":"children","type":"number","required":true},{"label":"gender","value":"gender","type":"number","required":true}],"formValue":{"age":"","bmi":"","children":"","gender":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":560,"wires":[["c8bbedec.7aa17","16b73b4a.f43b65","578abb93.47c3d4","f7d6fc27.22706","a98d3dd1.b7adc"]]},{"id":"16b73b4a.f43b65","type":"ui_text","z":"64044dfd.f15c04","group":"44b66971.a36fe8","order":2,"width":0,"height":0,"name":"","label":"BMI","format":"{{msg.payload.bmi}}","layout":"row-spread","x":410,"y":560,"wires":[]},{"id":"578abb93.47c3d4","type":"ui_text","z":"64044dfd.f15c04","group":"44b66971.a36fe8","order":2,"width":0,"height":0,"name":"","label":"CHILDREN","format":"{{msg.payload.children}}","layout":"row-spread","x":350,"y":660,"wires":[]},{"id":"a98d3dd1.b7adc","type":"ui_text","z":"64044dfd.f15c04","group":"44b66971.a36fe8","order":2,"width":0,"height":0,"name":"","label":"GENDER","format":"{{msg.payload.gender}}","layout":"row-spread","x":340,"y":720,"wires":[]},{"id":"3b0bb66.f394b4a","type":"function","z":"64044dfd.f15c04","name":"Gender conversion","func":"var input=msg.payload.input\nvar State\n\nif (input==\"Male\")\n{\n    State=[1]\n}\nelse if(input==\"Female\")\n{\n  State=[0]  \n}\n\nmsg.payload.State=State\nreturn msg;","outputs":1,"noerr":0,"x":639,"y":718.9999942779541,"wires":[[]]}]